{% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %}

<h2>Статьи</h2>

{% for article in articles %}

    <h3>{{ article.upper }}</h3>

    <p><a href="{{ article.get_absolute_url }}">Подробнее...</a></p>
    {% if user.is_authenticated %}
    {% if user not in article.users_liked.all %}
    <button id="{{ article.id }}like_button" onclick="onLikeClick(event)"
            data-likes-url="{% url 'webapp:article_add_like' article.pk %}"
            >like</button>
        <button id="{{ article.id }}unlike_button" style="display: none" onclick="onUnLikeClick(event)"
            data-likes-url="{% url 'webapp:article_remove_like' article.pk %}"
            >Unlike</button>
        {% else %}
        <button id="{{ article.id }}like_button" style="display: none" onclick="onLikeClick(event)"
            data-likes-url="{% url 'webapp:article_add_like' article.pk %}"
            >like</button>
    <button id="{{ article.id }}unlike_button" onclick="onUnLikeClick(event)"
            data-likes-url="{% url 'webapp:article_remove_like' article.pk %}"
            >Unlike</button>
        {% endif %}
    {% endif %}
    <div id="{{ article.pk }}count">likes: {{ article.users_liked.count }}</div>

    {% if perms.webapp.change_article or user == article.author %}
        <p><a href="{% url "webapp:article_update_view" article.pk %}">Редактировать</a></p>
    {% endif %}

    {% if perms.webapp.delete_article %}
        <p><a href="{% url "webapp:article_delete_view" article.pk %}">Удалить</a></p>
    {% endif %}

{% empty %}
    <p>Статьи не найдены...</p>
{% endfor %}

{% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %}
